/*===== Primary Color =====*/

/*===== Background Color =====*/
.thm-bg,
.thm-btn,
.topbar-lists > li > a:hover,
.topbar-lists > li > a:focus,
.topbar-lists > li.active > a,
.gray-bg .topbar-lists > li > a:hover,
.gray-bg .topbar-lists > li > a:focus,
.gray-bg .topbar-lists > li.active > a,
.usr-inf-btns > a:hover,
.usr-inf-btns > a:focus,
.dwnld-btn:hover,
.dwnld-btn:focus,
.ordr-tbl-wrp thead,
.evnt-btn,
.fc-event,
.calendar .fc-header-toolbar .fc-right .fc-button-group > button:hover,
.calendar .fc-header-toolbar .fc-right .fc-button-group > button:focus,
.calendar .fc-view-container tbody td.fc-day.fc-today,
.calendar.styl2 .fc-event:hover,
.calendar.styl2 .fc-event:focus,
.jqvmap-zoomin:hover, 
.jqvmap-zoomout:hover,
.jqvmap-zoomin:focus, 
.jqvmap-zoomout:focus,
.td-lst > li a:hover,
.td-lst > li a:focus,
.ad-tsk-btn,
.add-tsk > form button,
.vw-al > a,
.msg-wrp > h4,
.usr-img2 > a,
.sal-reprt > h4,
.cmnt-btns > a:hover,
.cmnt-btns > a:focus,
.cmnt-frm-btns > span:hover,
.cmnt-frm-btns > span:focus,
.upld-cnt > span,
.eror-inr > a,
.eror-inr form > button:hover,
.eror-inr form > button:focus,
.cmng-inf-inr form > button:hover,
.cmng-inf-inr form > button:focus,
.cmng-tim > li,
.calendar.styl2 .fc-view-container thead.fc-head,
.page-title:before,
.cont-frm-wrp form button,
.frm-wrp form button,
.chckut-wrp form button,
.file-upload-box .file-box label span,
[type="radio"]:not(:checked) + label::after, 
[type="radio"]:checked + label::after,
.srch-frm > button:hover,
.srch-frm > button:focus,
.chckut-innr table thead,
.acordn-styl2 .acordn-itm > h4.active,
.invoc-dta table thead,
.pagination-wrp.styl3 .pagination,
.pagination-wrp.styl1 .pagination > li.page-item.active a,
.pagination-wrp.styl1 .pagination > li.page-item span,
.pagination-wrp.styl1 .pagination > li.page-item:hover,
.pagination-wrp.styl1 .pagination > li.page-item:hover a.page-link,
.pagination-wrp.styl1 .pagination > li.page-item:hover a.page-link:hover,
.pagination-wrp.styl2 .pagination > li.page-item.active a,
.pagination-wrp.styl2 .pagination > li.page-item span,
.pagination-wrp.styl2 .pagination > li.page-item a.page-link:hover,
.pagination-wrp.styl2 .pagination > li.page-item a.page-link:focus,
.pagination-wrp.styl2 .pagination > li.page-item.prev a.page-link:hover, 
.pagination-wrp.styl2 .pagination > li.page-item.next a.page-link:hover, 
.pagination-wrp.styl2 .pagination > li.page-item.prev a.page-link:focus, 
.pagination-wrp.styl2 .pagination > li.page-item.next a.page-link:focus,
.pagination-wrp.styl4 .pagination > li.page-item.prev a.page-link:hover, 
.pagination-wrp.styl4 .pagination > li.page-item.next a.page-link:hover, 
.pagination-wrp.styl4 .pagination > li.page-item.prev a.page-link:focus, 
.pagination-wrp.styl4 .pagination > li.page-item.next a.page-link:focus,
.message-alert.styl1 > i,
.message-alert.styl2 > i,
.message-alert.styl3,
.prd-btns > a:hover,
.prd-btns > a:focus,
.prd-btns > a.prd-wshlst-btn:hover,
.prd-btns > a.prd-wshlst-btn:focus,
.cht-rply,
.cht-frm-btns-lst > li:hover,
.cht-frm form button,
.prod-thmb:before,
.prd-szs-lst > a:hover,
.prd-szs-lst > a:focus,
.qt-ad-crt > a,
.scl-shr:hover > i,
.scl-icns > a:hover,
.scl-icns > a:focus,
.prd-dtl-tbs > ul.nav-tabs > li.nav-item a.nav-link.active,
.prd-dtl-tbs > ul.nav-tabs > li.nav-item a.nav-link:hover,
.prd-dtl-tbs > ul.nav-tabs > li.nav-item a.nav-link:focus,
.frm-wzrd-wrp > ul.steps > li span,
.frm-wzrd-wrp > ul.steps > li.current,
.commands > a,
form.cont-frm button[type="submit"],
.mail-prf-inr > a:hover,
.mail-prf-inr > a:focus,
.inbox-btns > a:hover,
.inbox-btns > a:focus,
.inbox-btns > a.thm-btn:hover,
.inbox-btns > a.thm-btn:focus,
.prc-pln2.active .prc-pln-hed2,
.prc-pln2.active .prc-pln-bdy2 > a:hover,
.prc-pln2.active .prc-pln-bdy2 > a:focus,
.btn.gry-bg:hover,
.btn.gry-bg:focus,
.typo-wrp blockquote:before,
.act-pst-lk-stm > a:hover,
.act-pst-lk-stm > a:focus,
.vw-mr-act > a,
.edit-btn:hover,
.usr-actvty-wrp > h4 .badge,
.tmln-label > a:hover,
.tmln-label > a:focus,
.tbs-styl > ul.nav-tabs > li.nav-item a.nav-link.active, 
.tbs-styl > ul.nav-tabs > li.nav-item a.nav-link:hover, 
.tbs-styl > ul.nav-tabs > li.nav-item a.nav-link:focus,
.tbs-styl1 > ul.nav-tabs > li.nav-item:nth-child(2n) a.nav-link.active,
.tbs-styl1 > ul.nav-tabs > li.nav-item:nth-child(2n) a.nav-link:hover,
.tbs-styl1 > ul.nav-tabs > li.nav-item:nth-child(2n) a.nav-link:focus,
.acordn-styl3 .acordn-itm > h4 i,
.rgstr-alrdy > a,
.rgstr-frm form.cont-frm button[type="submit"]:hover,
.rgstr-frm form.cont-frm button[type="submit"]:focus,
.fa-hover > a:hover,
.fa-hover > a:focus,
.icon-container:hover,
.nti-drp-wrp > a,
.usr-innr > a,
.txt-edtr-wrp .btn:hover,
.txt-edtr-wrp .btn:focus,
.docs-buttons > .btn:hover,
.docs-buttons > .btn:focus,
body.dark-bg .cmnt-frm-btns > span:hover,
body.dark-bg .calendar.styl2 .fc-event:hover, 
body.dark-bg .calendar.styl2 .fc-view-container tbody td.fc-day.fc-today:hover,
body.dark-bg .calendar.styl2 .fc-event:focus, 
body.dark-bg .calendar.styl2 .fc-view-container tbody td.fc-day.fc-today:focus,
body.dark-bg .pagination-wrp.styl4 .pagination > li.page-item.prev a:hover, 
body.dark-bg .pagination-wrp.styl4 .pagination > li.page-item.next a:hover,
body.dark-bg .pagination-wrp.styl4 .pagination > li.page-item.prev a:focus, 
body.dark-bg .pagination-wrp.styl4 .pagination > li.page-item.next a:focus,
body.dark-bg .tbs-styl > ul.nav-tabs > li.nav-item a.nav-link.active, 
body.dark-bg .tbs-styl > ul.nav-tabs > li.nav-item a.nav-link:hover, 
body.dark-bg .tbs-styl > ul.nav-tabs > li.nav-item a.nav-link:focus,
body.dark-bg .tbs-styl1 > ul.nav-tabs > li.nav-item:nth-child(2n) a.nav-link.active,
body.dark-bg .tbs-styl1 > ul.nav-tabs > li.nav-item:nth-child(2n) a.nav-link:hover,
body.dark-bg .tbs-styl1 > ul.nav-tabs > li.nav-item:nth-child(2n) a.nav-link:focus,
body.dark-bg .acordn-styl2 .acordn-itm > h4:hover,
body.dark-bg .acordn-styl2 .acordn-itm > h4.active,
body.dark-bg .fa-hover > a:hover,
body.dark-bg .fa-hover > a:focus,
body.dark-bg .icon-container:hover,
body.dark-bg .frm-wzrd-wrp > ul.steps > li.current,
body.dark-bg .cht-rply,
body.dark-bg .cht-frm-btns-lst > li:hover,
.option-list > a:hover,
.option-list > a:focus,
.option-list > a.applied,
.option-list > a.theme-color3,
.sidebanel-btn:hover
{
	background-color: #f06f11;
}

/*===== Text Color =====*/
.thm-clr,
nav > ul li.active > a, 
nav > ul li:hover > a, 
nav > ul li a:focus,
nav > ul li.active > a:before, 
nav > ul li:hover > a:before, 
nav > ul li a:focus:before,
nav > ul ul li.active > a:after, 
nav > ul ul li:hover > a:after, 
nav > ul ul li a:focus:after,
.menu-btn:hover,
.topbar-search > button:hover,
.topbar-search > button:focus,
.stats-box > span span,
.wdgt-opt > a:hover,
.wdgt-opt > a:focus,
.actv-sls > i,
.ordr-tbl-wrp td h4,
.prc > sup,
.scrb-box > a:hover,
.scrb-box > a:focus,
footer p a,
.btm-lnks > li a:hover,
.btm-lnks > li a:focus,
.td-lst > li a,
.msg-inf > i,
.usr-prf-inf > span,
.usr-inf-lst > li i,
.cmnt-desc > h6 a:hover,
.cmnt-desc > h6 a:focus,
.cmnt-desc > span,
.upld-cnt > i.icon,
.cont-inf-lst > li i,
.cont-inf-lst > li a:hover,
.cont-inf-lst > li a:focus,
.srch-rslt-wrp > h2 strong,
.acordn-itm > h4 span,
.invoc-dat-lst > li span,
.invoc-inf-innr > span i.cmpn-nam,
.invoc-not > p span,
.invoc-dta table td span.invoc-prc,
.invoc-tl > span,
.pagination-wrp.styl4 .pagination > li.page-item a.page-link:hover, 
.pagination-wrp.styl4 .pagination > li.page-item a.page-link:focus,
.pagination-wrp.styl4 .pagination > li.page-item.active a, 
.pagination-wrp.styl4 .pagination > li.page-item.active span,
.message-alert.styl3 > i,
.prd-inf > h4 a:hover,
.prd-inf > h4 a:focus,
.cht-inf > h4 a:hover,
.cht-inf > h4 a:focus,
.prd-cat > a:hover,
.prd-cat > a:focus,
ins,
.prd-dtl-rvw > a:hover,
.prd-dtl-rvw > a:focus,
.frm-wzrd-wrp > ul.steps > li.current span,
.chck-bx > label a,
.mail-opt > ul li a:hover,
.mail-opt > ul li a:focus,
.mail-opt > ul li a:hover span,
.mail-opt > ul li a:focus span,
.inbox-pst > i.snd-tm,
.mal-ttl > h4 a:hover,
.mal-ttl > h4 a:focus,
.inbx-opt-lst > span a:hover,
.inbx-opt-lst > span a:focus,
.inbox-srch > button:hover,
.inbox-srch > button:focus,
.inbox-btns > a.thm-btn i,
.sndr-rgrds > h4 span,
.mail-sndr-inf > span a,
.prc-pln-hed2 > h2 sup,
.prc-pln-hed2 > i,
.typo-wrp blockquote > p:first-child:before,
.typo-wrp .blockquote-footer,
.usr-cnt-inf-lst > li i,
.act-pst-inr > h5 a:hover,
.act-pst-inr > h5 a:focus,
.act-pst-inr > h6 a:hover,
.act-pst-inr > h6 a:focus,
.act-pst-inr > a,
.gnrl-inf-lst > span.thm-clr,
.usr-cnt-inf-lst > li a:hover,
.usr-cnt-inf-lst > li a:focus,
.act-pst-flw-inr > a,
.pst-tm > a:hover,
.pst-tm > a:focus,
.insta-wrp > span > label:hover i,
.wdgt-titl-icn > i,
.nti-usr-inr > h5 a:hover,
.nti-usr-inr > h5 a:focus,
.usr-innr > h5 a:hover,
.usr-innr > h5 a:focus,
.set-lst [type="checkbox"]:not(:checked) + label::after, 
.set-lst [type="checkbox"]:checked + label::after,
.card-link:hover,
.card-link:focus,
body.dark-bg .wdgt-opt > a:hover,
body.dark-bg .wdgt-opt > a:focus,
body.dark-bg .scrb-box > a:hover,
body.dark-bg .scrb-box > a:focus,
body.dark-bg .card-body > a:hover,
body.dark-bg .card-body > a:focus,
.prd-inf > span.prd-prc
{
	color: #f06f11;
}

/*===== Border Color =====*/
.thm-brd-clr,
.fc-event,
.cmnts-car .owl-dots button.owl-dot.active,
.twtr-cmnts .cmnts-car .owl-dots button.owl-dot.active,
.acordn-styl2 .acordn-itm.activate .acrdn-cnt,
.pagination-wrp.styl1 .pagination > li.page-item:hover,
.pagination-wrp.styl4 .pagination > li.page-item.prev a:hover, 
.pagination-wrp.styl4 .pagination > li.page-item.next a:hover, 
.pagination-wrp.styl4 .pagination > li.page-item.prev a:focus, 
.pagination-wrp.styl4 .pagination > li.page-item.next a:focus,
.message-alert.styl2,
.prd-szs-lst > a:hover,
.prd-szs-lst > a:focus,
.scl-shr:hover > i,
.prd-cd-brnd .scl-shr:hover > i,
.prc-pln2.active .prc-pln-hed2,
.btn.gry-bg:hover,
.btn.gry-bg:focus,
.insta-wrp > span .usr-sts,
.tmln-label > a:hover,
.tmln-label > a:focus,
.tbs-styl3 > ul.nav-tabs,
.docs-buttons > .btn:hover,
.docs-buttons > .btn:focus,
body.dark-bg .pagination-wrp.styl1 .pagination > li.page-item:hover,
body.dark-bg .pagination-wrp.styl4 .pagination > li.page-item.prev a:hover, 
body.dark-bg .pagination-wrp.styl4 .pagination > li.page-item.next a:hover,
body.dark-bg .pagination-wrp.styl4 .pagination > li.page-item.prev a:focus, 
body.dark-bg .pagination-wrp.styl4 .pagination > li.page-item.next a:focus
{
	border-color: #f06f11;
}

.cht-rply::before
{
	border-bottom-color: #f06f11;
}